/.mc-lists.el
/auto-save-list/
/bookmarks
/eshell/
/ido.last
/nov-places
/org-roam.db
/smex-items
/straight/
/transient/
/url/
/early-init.elc
/init.elc
/recentf
/tramp
/dmenu-items
/games/
/newsticker/
/personal/creds.el
/personal/feeds.el
/emacs.pdf
/emacs.tex
/image-dired/
/tutorial/
/elpa/
/projectile-bookmarks.eld
/request/
/tldr/
/xkcd/
/eln-cache/
projects
/.newsrc.eld
/network-security.data
/.org-id-locations
auth.el
/custom.el
