/.mc-lists.el
/auto-save-list/
/bookmarks
/eshell/
/ido.last
/nov-places
/org-roam.db
/smex-items
/straight/
/transient/
/url/
/init.el
/early-init.el
/early-init.elc
/init.elc
/recentf
/tramp
/dmenu-items
/games/
/newsticker/
/creds.el
/feeds.el
